#btn-toolbar{
  display:none;
}

/* Force all Headers to text-align center*/
table.dataTable.table-condensed > thead > tr > th{
  text-align:center;
}
#opsTable td{
  vertical-align: middle;
}
td.options{
  width:170px;
}
#opsTable tbody td.icon_url, #opsTable td.icon_url img, #opsTable tr.icon_url img{
  width:55px;
  max-width:55px;!important
}
#opsTable_wrapper .input-group, .dataTables_length label{ 
  margin-right:10px;
}
#opsTable_wrapper div.rightToolbar{
  margin-left:10px;
}
.dt-button.buttons-columnVisibility{
  cursor: pointer
}

.toggleMargin{
  margin-left:5px;
}
div.dataTables_length{
  float:left;
}
div.container-fluid{
  margin-top:4px;!important
}
div.dataTables_info { 
  float: left;!important 
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip > .tooltip-inner {
  background-color: #fff; 
  color: #000; 
  border: 1px solid #CCCCCC; 
}

.tooltip.top > .tooltip-arrow{
  bottom:0;
  left:50%;
  margin-left:-5px;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:5px solid #CCC
}
.tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #CCC;
}
.tooltip.bottom > .tooltip-arrow{
  top:0;
  left:50%;
  margin-left:-5px;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-bottom:5px solid #CCC;
}
.tooltip.right > .tooltip-arrow{
  top:50%;
  left:0;
  margin-top:-5px;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-right:5px solid #CCC;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}